{% extends "base.html" %}

{% comment %}
 We need to run this in order to use static files in this template. 
{% endcomment %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
<link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock %}


  {% block page_title %}
  {{ month_name|title }}
  {% endblock %}
  

  {% block content %}

    {% comment %} 
    this allows us to include header.html template  
    {% endcomment %}  
    {% include "challenges/includes/header.html" %} 

  <h1>{{ month_name|title }} Challenge</h1>
  {% if text is not None %}
    <h2>{{ text }}</h2>
  {% else %}
    <p class="fallback">There is no challenge for this month yet!</p>
  {% endif %}
  {% endblock %}
  
