{% extends "base.html" %}


  {% block page_title %}
    All Challenges
  {% endblock %}
  {% block content %}
    
    {% comment %} this allows us to include header.html template  {% endcomment %}
    {% include "challenges/includes/header.html" %} 

  <ul>
    {% for month in months %}

    {% comment %} Displays a list of months, each month is a link to its own challenge page {% endcomment %}
    <li><a href="{% url "month-challenge" month %}">{{ month }}</a></li>
    {% endfor %}
  </ul>
  {% endblock %}
    
